<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.originate.graphit" >

    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_settings" >
        </activity>

        <service
            android:name=".DataCollectionService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name=".BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".metrics.battery.BatteryGraphActivity"
            android:label="@string/battery_graph_title" >
        </activity>
        <activity
            android:name=".metrics.screenUsage.ScreenGraphActivity"
            android:label="@string/screen_graph_title" >
        </activity>
        <activity
            android:name=".metrics.network.NetworkGraphActivity"
            android:label="@string/network_graph_title" > >
        </activity>
    </application>

</manifest>
